.header{
  max-width:1184px;
  display:flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
  }
}