.footer__links {
  margin: 0;
  padding-left: 0;
  gap: 17px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}