.intro{
    margin: 0 auto;
    padding: 92px 0;
    max-width: 984px;
}

@media screen and (max-width: 768px) {
    .intro {
      padding-top: 88px;
      padding-bottom: 88px;
    }
  }
  @media screen and (max-width: 425px) {
    .intro {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }