.lead__caption{
  margin: 0 auto;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.09rem;
  text-align: start;
  padding-bottom: 92px;
}
@media screen and (max-width: 768px) {
  .lead__caption {
    width: calc(100% - 2 * 1.5rem);
 }
}
@media screen and (max-width: 425px) {
  .lead__caption {
    padding-bottom: 64px;
    width: calc(100% - 2 * 1rem);
 }
}
