.footer {
    margin:0 auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
    .footer {
      flex-direction: column;
      gap: 48px;
    }
  }