.intro__title{
  max-width:690px;
  width: 100%;
  font-size:54px;
  font-weight: 900;
  margin: 0;
  line-height: 58px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 7.03vw;
 }
}
@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 10vw;
    line-height: 35px;
 }
}
